@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../js/lib/PhotoSwipe/photoswipe.css';

.fileList-container {
  max-height: 40rem;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-type: mandatory;
  scroll-snap-stop: always;
}
.pswp__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pswp__pdf-content,
.pswp__img-content,
.pswp__video-content,
.pswp__audio-content {
  position: relative;
  max-width: 100%;
}
.pswp__pdf-content iframe {
  height: 100dvh;
  margin-inline: auto;
  @apply ln-container;
}

.pswp__video-content video {
  height: 100dvh;
  margin-inline: auto;
  width: auto;
  @apply ln-container;
}

.pswp__img-content img {
  max-height: 100dvh;
  @apply ln-aspect-square ln-object-contain;
}
.pswp__audio-content {
  @apply ln-flex ln-items-center ln-justify-center ln-flex-col;
  height: 100dvh;
}
.pswp__audio-content audio {
  @apply ln-max-w-sm ln-mx-auto ln-w-full;
}

.text-danger {
  @apply ln-text-red-500;
}
